#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick_tap_ms = <245>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        layer_shift: layer_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_SHIFT";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
        };
    };

    macros {
        full_screenshot: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_SHIFT &kp LEFT_GUI &kp NUMBER_3>,
                <&macro_press>;

            label = "NEW_MACRO";
        };

        drag_screenshot: drag_screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_SHIFT &kp LEFT_GUI &kp NUMBER_4>,
                <&macro_press>;

            label = "DRAG_SCREENSHOT";
        };

        prev_tab: prev_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(TAB))>;
            label = "PREV_TAB";
        };

        next_tab: next_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(TAB)>;
            label = "NEXT_TAB";
        };

        cycle_app_instances: cycle_app_instances {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(GRAVE)>;
            label = "CYCLE_APP_INSTANCES";
        };

        page_prev: page_back {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LEFT_ARROW)>;
            label = "PAGE_BACK";
        };

        page_next: page_next {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(RIGHT_ARROW)>;
            label = "PAGE_NEXT";
        };

        app1: app_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F1)>;
            label = "APP_1";
        };

        app2: app_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F2)>;
            label = "APP_2";
        };

        app3: app_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F3)>;
            label = "APP_3";
        };

        app4: app4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F4)>;
            label = "APP4";
        };

        app5: app5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F5)>;
            label = "APP5";
        };

        app6: app6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F6)>;
            label = "APP6";
        };

        app7: app7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F7)>;
            label = "APP7";
        };

        app8: app8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F8)>;
            label = "APP8";
        };

        app9: app9 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F9)>;
            label = "APP9";
        };

        app10: app0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F10)>;
            label = "APP0";
        };

        app1_wind: app_1_wind {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LG(F1))>;
            label = "APP_1_WIND";
        };

        app2_wind: app_2_wind {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LG(F2))>;
            label = "APP_2_WIND";
        };

        app3_wind: app_3_wind {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LG(F3))>;
            label = "APP_3_WIND";
        };

        app4_wind: app4_wind {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LG(F4))>;
            label = "APP4_WIND";
        };

        app5_wind: app5_wind {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LG(F5))>;
            label = "APP5_WIND";
        };

        app6_wind: app6_wind {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LG(F6))>;
            label = "APP6_WIND";
        };

        app7_wind: app7_wind {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LG(F7))>;
            label = "APP7_WIND";
        };

        app8_wind: app8_wind {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LG(F8))>;
            label = "APP8_WIND";
        };

        app9_wind: app9_wind {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LG(F9))>;
            label = "APP9_WIND";
        };

        app10_wind: app0_wind {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LG(F10))>;
            label = "APP0_WIND";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp ESCAPE  &kp N1       &kp N2    &kp N3          &kp N4          &kp N5  &none                                                                                          &none                 &kp N6  &kp N7           &kp N8               &kp N9        &kp N0                  &none
&kp TAB     &kp Q        &kp W     &kp E           &kp R           &kp T   &none                                                                                          &none                 &kp Y   &kp U            &kp I                &kp O         &kp P                   &kp LEFT_BRACKET
&kp ESCAPE  &lt 3 A      &lt 2 S   &lt 1 D         &kp F           &kp G   &cycle_app_instances             &kp LCTRL      &kp LALT    &kp LGUI   &kp RCTRL               &cycle_app_instances  &kp H   &kp J            &lt 1 K              &lt 2 L       &lt 3 SEMICOLON         &kp SQT
&kp LSHFT   &mt LCTRL Z  &mt LSHFT X &mt LEFT_ALT C  &hm LEFT_GUI V  &kp B                                                 &kp HOME    &kp PG_UP                                                 &kp N   &hm RIGHT_GUI M  &hm RIGHT_ALT COMMA  &mt RSHFT PERIOD    &mt RIGHT_CONTROL FSLH  &kp RSHFT
&none       &kp GRAVE    &trans     &kp LEFT        &kp RIGHT                                     &kp SPACE  &kp BACKSPACE  &kp END     &kp PG_DN  &kp ESCAPE  &kp RETURN                                &kp LEFT_ARROW   &kp DOWN             &kp UP_ARROW  &kp RIGHT               &none
            >;
        };

        Symbols {
            display-name = "Kp";
            bindings = <
&trans     &kp N1           &kp N2          &kp N3    &kp N4      &kp N5        &trans                                                                     &trans  &kp N6     &kp N7         &kp N8                &kp N9                 &kp N0            &trans
&kp TAB    &kp MINUS        &kp UNDERSCORE  &kp PLUS  &kp EQUAL   &kp QUESTION  &trans                                                                     &trans  &kp CARET  &kp AMPERSAND  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp ASTERISK      &kp BSLH
&kp ESC    &kp A            &kp S           &kp D     &kp F       &kp G         &trans           &kp LCTRL  &kp LALT    &kp LGUI   &kp RCTRL               &trans  &kp H      &kp J          &kp K                 &kp L                  &kp SEMICOLON     &kp SQT
&kp LSHFT  &kp EXCLAMATION  &kp AT_SIGN     &kp HASH  &kp DOLLAR  &kp PERCENT                               &kp HOME    &kp PG_UP                                  &kp GRAVE  &kp SQT        &kp RIGHT_BRACKET     &kp BACKSLASH          &kp LEFT_BRACKET  &kp RSHFT
&trans     &kp GRAVE        &trans          &kp LEFT  &kp RIGHT                         &kp TAB  &kp DEL    &kp END     &kp PG_DN  &kp ESCAPE  &kp ESCAPE                     &kp LEFT       &kp DOWN              &kp UP_ARROW           &kp RIGHT         &trans
            >;
        };

        Dev {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4            &kp F5            &kp F6  &tog 1                                                    &mo 3   &kp F7  &kp F8          &kp F9            &kp F10       &kp F11          &kp F12
&trans  &trans  &trans  &full_screenshot  &drag_screenshot  &trans  &trans                                                    &trans  &trans  &kp C_PREV      &kp C_PLAY_PAUSE  &kp C_NEXT    &trans           &trans
&trans  &trans  &trans  &trans            &trans            &trans  &trans          &trans  &trans    &trans  &trans          &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW    &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans  &trans  &trans  &trans            &trans            &trans                          &trans    &trans                          &trans  &prev_tab       &next_tab         &page_prev    &page_next       &trans
&trans  &trans  &trans  &trans            &trans                            &trans  &trans  &trans    &trans  &trans  &trans                  &trans          &trans            &trans        &trans           &trans
            >;
        };

        Function {
            display-name = "Mod";
            bindings = <
&trans          &app1       &app2       &app3       &app4       &app5       &bootloader                                                        &bootloader  &app6       &app7       &app8       &app9       &app10       &trans
&trans          &app1       &app2       &app3       &app4       &app5       &none                                                              &none        &app6       &app7       &app8       &app9       &app10       &trans
&studio_unlock  &trans      &trans      &trans      &trans      &trans      &trans               &trans  &trans    &bt BT_CLR  &trans          &trans       &trans      &trans      &trans      &trans      &trans       &trans
&trans          &app1_wind  &app2_wind  &app3_wind  &app4_wind  &app5_wind                               &trans    &trans                                   &app6_wind  &app7_wind  &app8_wind  &app9_wind  &app10_wind  &trans
&trans          &trans      &trans      &trans      &trans                               &trans  &trans  &trans    &trans      &trans  &trans                           &trans      &trans      &trans      &trans       &trans
            >;
        };
    };
};


&mt {
    tapping-term-ms = <260>;
    quick-tap-ms = <205>;
    flavor = "tap-preferred";
};

&lt {
    tapping-term-ms = <260>;
    flavor = "tap-preferred";
};


#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
